@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome to Index Page!</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img class="w-50 img-fluid img-thumbnail" src="/images/banner.jpg" alt="Banner" />
    </div>
</div>